@import "fonts.sass"
@import 'burger-menu.sass'
@import 'header.sass'
@import 'navbar.sass'
@import 'top-menu.sass'
@import 'dropdown.sass'
@import 'banner.sass'
@import 'popup.sass'


body
  font-family: SFProDisplay, sans-serif
  font-size: 16px
  font-weight: 400
  line-height: 24px
  color: #000
  @media(max-width: 1200px) 
    font-size: 14px

.container
  max-width: 1110px
  margin: 0 auto
  @media(max-width: 1180px) 
    padding: 0 30px

.hidden
  display: none

.fa-chevron-down
  color: #a1a1a1
  font-size: 8px
  margin: 2.5px 0 0 5px
  transition: all .2s linear
  @media(max-width: 980px)
    color: #000
    font-size: 12px
    margin: 5px 0 0 0
    transform: rotate(-90deg)

.fa-heart
  color: #000
  font-size: 24px

.top-section
  padding: 15px 0
  position: relative
  &__wrp
    padding: 15px 0
    display: flex
    @media(max-width: 980px) 
      & .top-search__wrp
        display: none

.top-search
  
  &__wrp
    display: flex
    align-items: center
    margin-left: auto
    @media(max-width: 980px) 
      margin-left: 15px
  &__like
    display: block
    text-decoration: none
    margin-left: 25px
    height: 24px
    @media(max-width: 1200px) 
      margin-left: 15px
  &__form
    width: 24px
    height: 24px
    background-color: transparent
    position: relative
    border: 1px solid transparent
  &__form-input
    width: 0
    min-height: 0
    outline: none
    border: none
    box-sizing: border-box
    background-color: transparent
    position: absolute
    top: 40px
    right: 2px
    font-size: 20px
    &:focus
      width: 400px
      min-height: auto
      transition: width .5s ease
      background-color: #fdfafa
      padding: 15px
      border: 1px solid #851642
      box-shadow: 0px 0px 30px 10px rgba(133, 22, 66, .2)
  &__form-lable
    display: block
    width: 100%
    height: 100%
    cursor: pointer
  &__form-img
    width: 100%
    height: 100%
.basket
  height: 24px
  margin-left: 25px
  @media(max-width: 1200px) 
    margin-left: 15px
  &__btn
    background-color: transparent
    text-decoration: none
    display: flex
    align-items: center
  &__img
    width: 20px
    height: 24px
    fill: #000
  &__price
    color: #851642
    margin-left: 5px
    @media(max-width: 980px) 
      display: none