doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Consul
    link(rel="stylesheet", href="magnific-popup/magnific-popup.css")
    link(rel="stylesheet", href="css/style.min.css")
    link(rel="icon", href="./image/favicon.png", type="image/png")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css", integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p", crossorigin="anonymous")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", defer)
    script(src="magnific-popup/jquery.magnific-popup.js", defer)
    script(src="./js/app.js", defer)
  body
    header.header
      .header-wrp.container
        img.header-wrp__img(src="./image/logo/Consul_Holding_Logo.png", alt="logo company")
        nav.navbar
          ul.navbar__menu
            li.navbar__menu-list
              a.navbar__menu-link(href="#") О компании
                i.fas.fa-chevron-down
              .menu-dropdown-wrp
                ul.menu-dropdown
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") О холдинге
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") История
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Новости
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Отзывы
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Клиенты
            li.navbar__menu-list
              a.navbar__menu-link(href="#") О продукции
                i.fas.fa-chevron-down
              .menu-dropdown-wrp
                ul.menu-dropdown
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Сертификаты
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Торговые марки
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Отзывы
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Наполнители
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Пружинные блоки
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Чехлы
            li.navbar__menu-list
              a.navbar__menu-link(href="#") Покупателям
                i.fas.fa-chevron-down
              .menu-dropdown-wrp
                ul.menu-dropdown
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Доставка
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Оплата
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Гарантия
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Правила эксплуатации
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Возврат и обмен
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Оформление рекламации
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Вопрос - ответ
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Отзывы
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Карта сайта
                  li.menu-dropdown__list
                    a.menu-dropdown__link(href="#") Контакты
        .header-wrp__phone
          i.fas.fa-phone
          a.header-wrp__phone-link(href="#") Нужна консультация?
          .header-wrp__tel-wrp
            a.header-wrp__tel(href="tel:88003333300") 8&nbsp;800&nbsp;333&nbsp;33&nbsp;00
        .header-wrp__user-wrp
          a.header-wrp__user-link(href="#") Войти
          svg.header-wrp__user-img#Capa_1(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", viewBox="0 0 512 512", xml:space="preserve")
            path(d="M437.02,330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521,243.251,404,198.548,404,148C404,66.393,337.607,0,256,0S108,66.393,108,148c0,50.548,25.479,95.251,64.262,121.962c-36.21,12.495-69.398,33.136-97.281,61.018C26.629,379.333,0,443.62,0,512h40c0-119.103,96.897-216,216-216s216,96.897,216,216h40C512,443.62,485.371,379.333,437.02,330.98z M256,256c-59.551,0-108-48.448-108-108S196.449,40,256,40c59.551,0,108,48.448,108,108S315.551,256,256,256z")
    .top-section
      .top-section__wrp.container
        .top-menu__wrp
          nav.top-menu__navbar
            ul.top-menu__menu
              li.top-menu__menu-list
                img.top-menu__menu-list-img(src="image/mattress.png", alt="icon")
                a.top-menu__menu-link(href="#") Матрасы
                  i.fas.fa-chevron-down
                .menu-dropdown-wrp.menu-dropdown-small
                  ul.menu-dropdown
                    li.menu-dropdown__list
                      a.menu-dropdown__link(href="#") Все матрасы
                    li.menu-dropdown__list
                      a.menu-dropdown__link(href="#") Матрасы для новорожденных
                    li.menu-dropdown__list
                      a.menu-dropdown__link(href="#") Топперы
              li.top-menu__menu-list
                img.top-menu__menu-list-img(src="image/bed.png", alt="icon")
                a.top-menu__menu-link(href="#") Кровати
              li.top-menu__menu-list
                img.top-menu__menu-list-img(src="image/bed_base.png", alt="icon")
                a.top-menu__menu-link(href="#") Основания
              li.top-menu__menu-list
                img.top-menu__menu-list-img(src="image/towel.png", alt="icon")
                a.top-menu__menu-link(href="#") Аксессуары
                  i.fas.fa-chevron-down
                .menu-dropdown-wrp
                  ul.menu-dropdown
                    li.menu-dropdown__list
                      a.menu-dropdown__link(href="#") Наматрасники
                    li.menu-dropdown__list
                      a.menu-dropdown__link(href="#") Подушки
                    li.menu-dropdown__list
                      a.menu-dropdown__link(href="#") Одеяла
                    li.menu-dropdown__list
                      a.menu-dropdown__link(href="#") Наволочки
                    li.menu-dropdown__list
                      a.menu-dropdown__link(href="#") Простыни
                    li.menu-dropdown__list
                      a.menu-dropdown__link(href="#") Пододеяльники
              li.top-menu__menu-list
                img.top-menu__menu-list-img(src="image/furniture.png", alt="icon")
                a.top-menu__menu-link(href="#") Мягкая мебель
                  i.fas.fa-chevron-down
                .menu-dropdown-wrp
                  ul.menu-dropdown
                    li.menu-dropdown__list
                      a.menu-dropdown__link(href="#") Зеркала
                    li.menu-dropdown__list
                      a.menu-dropdown__link(href="#") Комоды
                    li.menu-dropdown__list
                      a.menu-dropdown__link(href="#") Кресла, пуфы, банкетки
                    li.menu-dropdown__list
                      a.menu-dropdown__link(href="#") Тумбы
              li.top-menu__menu-list
                img.top-menu__menu-list-img(src="image/sale.png", alt="icon")
                a.top-menu__menu-link(href="#") Акции
        .top-search__wrp
          